<a href="https://colab.research.google.com/github/laraibanza/DataAnalysis-icodeguru-Batch2/blob/laraib-anza/Data_Analysis_Ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#import all the libraries here
import numpy as np
import pandas as pd

In [44]:
data=pd.read_csv('/content/drive/MyDrive/DataAnalysis-with-Python/kiwisaver_sample_wk9.csv')
data

                                        Name  ... Net Assets Share Class
0              AMP IL no E Fee NZ Share (RN)  ...              81121.500
1         AMP KiwiSaver AMP Income Generator  ...                517.154
2            AMP KiwiSaver ANZ Balanced Plus  ...              87999.573
3             AMP Prem PSS OnePath NZ Shares  ...               1905.852
4   ANZ Default KiwiSaver Scheme Cnsrv(Dflt)  ...             423490.867
..                                       ...  ...                    ...
71        Simplicity KiwiSaver Balanced Fund  ...               9229.188
72    Simplicity KiwiSaver Conservative Fund  ...               2371.001
73          Simplicity KiwiSaver Growth Fund  ...              28561.438
74         Staples Rodway KiwiSaver Balanced  ...               9131.483
75           Staples Rodway KiwiSaver Growth  ...               4573.107

[76 rows x 15 columns]

# **Task 1:**
Inspecting your Data. read and disect your datafile "kiwisaver_sample_wk9.csv" to figure out list of all possible dirty data problems in your data.

In [42]:
data.info()
#As we can see from the result that we have some missing data in columns such as (Morningstar Rating,Manager Name,Manager Tenure etc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    76 non-null     object
 1   Firm Name               76 non-null     object
 2   Branding Name           76 non-null     object
 3   Holdings                76 non-null     int64
 4   Global Category         76 non-null     object
 5   Morningstar Rating      76 non-null     object
 6   Domicile                76 non-null     object
 7   Fund Legal Structure    76 non-null     object
 8   Equity Style            76 non-null     object
 9   Inception Date          76 non-null     object
 10  Manager Name            33 non-null     object
 11  Manager Tenure          33 non-null     float64
 12  Net Assets Date         75 non-null     object
 13  Net Assets Size         76 non-null     float64
 14  Net Assets Share Class  76 non-null     float64
dtypes: float64(3), int64(1), object(11)
memory usage: 9.0+ KB

# **Task 2:**
You must have noticed we have some data with missing "Morningstar Ratings", createa method and figure out a way to imputate the missing data

In [20]:
mean_MSR = data['Morningstar Rating'].mean()
print(mean_MSR)
def remove_nan_MSR(row):
  if pd.isnull(row ['Morningstar Rating']):
    return mean_MSR
  else:
    return row['Morningstar Rating']

3.725

In [22]:
data.apply(remove_nan_MSR, axis=1 )

0     3.000
1     3.725
2     3.000
3     3.000
4     4.000
      ...
71    3.725
72    3.725
73    3.725
74    3.725
75    3.725
Length: 76, dtype: float64

# **Task 3:**
List all the unique "Equity Style"?

What are the two most used and least used Equity Style?

In [28]:
#List of unique "Equity Style"
print(data['Equity Style'].value_counts())


#two most used Equity Style(Large Growth,Large Blend )
#two least used Equity Style(Mid Blend,Mid Value )

Large Growth    33
Large Blend     28
Mid Growth      10
Mid Blend        3
Mid Value        2
Name: Equity Style, dtype: int64
Mid Value

# **Task 4:**
Mapping your data: Figure out a way to map the values of "Morningstar Rating" form [5,4,3,2,1] to ['Awsome','Good','Average','bad','Awful']

In [45]:
data['Morningstar Rating-Name'] = data['Morningstar Rating'].map(lambda s :  'Awesome' if s==1 else 'Good' if s==2 else 'Average' if s==3 else  'bad' if s==4 else 'Awful')
data[['Morningstar Rating-Name' , 'Morningstar Rating']]

   Morningstar Rating-Name  Morningstar Rating
0                  Average                 3.0
1                    Awful                 NaN
2                  Average                 3.0
3                  Average                 3.0
4                      bad                 4.0
..                     ...                 ...
71                   Awful                 NaN
72                   Awful                 NaN
73                   Awful                 NaN
74                   Awful                 NaN
75                   Awful                 NaN

[76 rows x 2 columns]

# **Task 5:**
Data Aggregation using GroupBy. Using the datafile "Kiwisaver_sample_wk9.csv", group the Funds based on Branding Name and Equity Style. 

Report the average Holdings and Net Assets Size of the groups that you just created.

In [48]:
data.groupby(['Branding Name','Equity Style'])['Net Assets Size'].mean()

Branding Name        Equity Style
AMP                  Large Growth    1.466660e+05
                     Mid Blend       8.619230e+02
                     Mid Growth      6.918946e+04
ANZ                  Large Growth    5.191668e+05
                     Mid Growth      2.460913e+05
ASB                  Large Blend     1.191800e+06
                     Large Growth    5.645363e+03
Aon                  Large Blend     1.911613e+04
                     Mid Growth      8.220035e+04
Bank of New Zealand  Large Blend     1.425594e+05
Fisher Funds         Large Growth    6.073430e+05
Forsyth Barr         Large Growth    1.142776e+04
Generate             Mid Blend       1.074962e+05
                     Mid Growth      5.560979e+04
Grosvenor            Large Blend     6.634276e+04
                     Large Growth    1.030267e+04
Mercer               Large Blend     2.424365e+04
                     Large Growth    1.039314e+05
                     Mid Growth      1.881585e+03
Milford Funds        Mid Growth      5.880018e+04
New Zealand Funds    Mid Value       5.230530e+04
Simplicity NZ        Large Growth    2.231202e+04
Staples Rodway       Large Blend     7.621845e+03
                     Large Growth    1.521914e+04
Name: Net Assets Size, dtype: float64

# **Task 6:**

Data Aggregation using pivot tables.
Similar to the previous task, you will be using the file "Kiwisaver_sample_wk9.csv". Create a pivot table of average Holdings and Net Assets Size of Funds grouped by Branding Name and Equity Style (i.e. do the exact same thing as Task 1, but using a pivot table).

In [50]:
pd.pivot_table(data, index=["Branding Name",'Equity Style'], values=["Net Assets Size","Holdings"], aggfunc="mean")

                                     Holdings  Net Assets Size
Branding Name       Equity Style
AMP                 Large Growth  1544.000000     1.466660e+05
                    Mid Blend      689.000000     8.619230e+02
                    Mid Growth      92.000000     6.918946e+04
ANZ                 Large Growth  1543.111111     5.191668e+05
                    Mid Growth     438.666667     2.460913e+05
ASB                 Large Blend   1319.500000     1.191800e+06
                    Large Growth  1222.333333     5.645363e+03
Aon                 Large Blend    265.000000     1.911613e+04
                    Mid Growth     384.000000     8.220035e+04
Bank of New Zealand Large Blend   2456.800000     1.425594e+05
Fisher Funds        Large Growth   209.500000     6.073430e+05
Forsyth Barr        Large Growth   153.000000     1.142776e+04
Generate            Mid Blend       56.000000     1.074962e+05
                    Mid Growth     108.000000     5.560979e+04
Grosvenor           Large Blend    132.307692     6.634276e+04
                    Large Growth   113.000000     1.030267e+04
Mercer              Large Blend   1179.750000     2.424365e+04
                    Large Growth  1358.272727     1.039314e+05
                    Mid Growth      74.000000     1.881585e+03
Milford Funds       Mid Growth     429.000000     5.880018e+04
New Zealand Funds   Mid Value      183.500000     5.230530e+04
Simplicity NZ       Large Growth    54.333333     2.231202e+04
Staples Rodway      Large Blend    873.000000     7.621845e+03
                    Large Growth  1361.000000     1.521914e+04

# **Task 7:**
Still using the file "Kiwisaver_sample_wk9.csv", clean the dataframe if information related to Morningstar Rating and Manager Name is not available.

Using either GroupBy or a pivot table, report the average Morningstar Rating for Funds managed by each of the managers in the file.